* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.Header-Section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #1b1b1b;
  color: beige;
  padding: 2rem;
}

.header {
  font-size: 5rem;
  font-family: "Oxygen";
  font-weight: bold;
  word-spacing: -0.2rem;
}

.gradient-text-1 {
  background: -webkit-linear-gradient(left, #60c657, #35aee2);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s ease infinite;
}

.body-buttons {
  text-align: center;
  background-color: #1b1b1b;
  color: beige;
  font-family: "Oxygen";
  font-size: 2.7rem;
  font-weight: 400;
  padding: 5rem 20rem;
}

.minting-section {
  font-size: 3.2rem;
  font-weight: 700;
}

.transferring-section {
  font-size: 3.2rem;
  font-weight: 700;
  padding: 3rem 0 0;
}

.gradient-text-2 {
  background: -webkit-linear-gradient(left, #35aee2, #60c657);
  background-size: 200% 200%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradient-animation 4s ease infinite;
}

.body-heading {
  padding: 0;
  margin: 2rem 0;
}

input {
  font-size: 16px;
  width: 60%;
  border-color: rgba(4, 4, 5, 0.1);
  line-height: 32px;
}

input:focus {
  outline: none;
  border-color: rgba(4, 4, 5, 0.4);
}

button {
  padding: 9px 16px;
  max-height: 40px;
  border-color: #254cdd;
  color: #254cdd;
  background-color: white;
  border-radius: 8px;
  align-items: center;
  font-family: "Oxygen";
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

#walletButton {
  text-align: right;
  float: right;
  line-height: 16px;
}

#mintButton {
  background-color: #254cdd;
  color: white;
  margin-top: 2rem;
}

/* KeyFrames */
@-webkit-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@-moz-keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
